@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Modak&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height:100vh;
  background-image: url('../images/Background.png');
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.input {
background-color:#FFFDF4;
border:2px solid #363630;
box-shadow: 4px 4px #363630;
border-radius: 10px;
font-size: 20px;
padding: 1%;
width: 100%;
margin:1%;
font-family: 'Baloo 2', cursive;
font-weight:regular;
}

.Icon {
  height: 10vmin; 
  width: 10vmin;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
